<header>
  <h1>DO I LOOK FAT IN DIS??</h1>
</header>

<%= link_to "New Question", new_question_path %>
<br><br><br>
<div id='homepage-content'>
  <% @questions.each do |question| %>
    <p><%= link_to "#{question.title}", question %></p>
  <% end %>
</div>


