<div class="answer">
  <li><%= answer.content %></li>
  <ul class="replies">
  </ul>
  <% if current_user %>
  <%= link_to "Reply", new_answer_answer_path(answer), class: "reply_link", remote: true %> 
  <%= render answer.answers %>
  <% end %>
</div>
