div#main {
 margin: 0 auto;
 text-align: center;
}

div#homepage-content {
  text-align : left
}

h1 {
  font-family: 'Prosto One', cursive;
}

.nav{
background-color: #1abc9c;
width: 100%;
}

.nav li:nth-child(n+2){
  float: right;
}

.nav a:visited {
color: white;
}





#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}



